/* HeroSection.css */
.hero-section {
    background-color: #eff9ff; /* Blue color */
    color: #fff;
    text-align: center;
    padding: 130px 20px 40px 20px;
  }
  
  .hero-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .text-container {
    flex: 1;
    padding: 120px;
  }
  
  .hero-heading {
    font-size: 2.5rem;
    margin: 25px 10px 8px 10px;
    color: rgb(36, 35, 35);
  }
  
  .hero-subtext {
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(71, 67, 67);
  }

  @media(max-width:768px){
    .avatar-container {
        margin-right: 0px;
  }

  .hero-heading {
    font-size: 1.5rem;
  }
  
  .hero-subtext {
    font-size: 1.2rem;
  }

  .text-container {
    padding: 0px;
  }

  .hero-container{
      flex-direction: column;
  }
}
  