/* ProjectsSection.css */
.projects-section {
    padding: 50px 0;
    text-align: center;
    background-color: #eff9ff; /* Blue color */
    padding-bottom: 140px;
  }

  .projects-section h2{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .carousel {
    max-width: 800px;
    margin: 0 auto;
  }

  .carousel-root{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  /* Additional responsive styling */
  @media (max-width: 768px) {
    .carousel {
      max-width: 95%;
    }
  }


  .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list .container a{
    display: flex;
    box-shadow: 3px 2px 4px rgba(128, 128, 128, 0.244);
    margin: 15px;
    padding: 20px;
    text-decoration: none;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.123);
    color: gray;
  }

  .list h2{
    margin-top: 40px;
  }

  .list .container a p{
    padding: 20px;
  }

  .list .container a img{ 
    width: 240px;
    height: 130px;
  }

  @media(max-width:790px){
    .list .container a{
      width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 2px;
      font-size: 12px;
    }
  }


  

