/* SocialMediaSection.css */
.social-media-section {
    padding: 42px 0;
    text-align: center;
  }

  .social-media-section h2{
    font-size: 2.4rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 6rem;
    padding: 20px;
  }
  
  .social-icons a {
    color: #3498db;
    margin: 50px; /* Adjust the color as needed */
  }
  
  .social-icons a:hover {
    color: #1e87e5; /* Adjust the hover color as needed */
  }
  
  @media(max-width:768px){
    .social-icons {
        font-size: 2rem;
        padding: 12px;
    }
      
  .social-icons a {
    margin: 10px; 
  }

  .social-media-section h2{
    font-size: 1.4rem;
  }
  
  }